POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=notifications
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

CELERY_BROKER_DB=0

PAGINATION_DEFAULT_LIMIT=50
PAGINATION_MAX_LIMIT=200
